@charset "UTF-8";

.hidden {
    display: none;
}
body{
  font-family: "Baskervville", Arial, Helvetica sans-serif;
}
h3{
  margin-bottom: 10px;
  font-size: 28px;
}
p{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

.sitecontainer{
    max-width: 1024px;
    margin:auto;

  }

.logo{
  width: 40%;
  padding: 10px;
}
.mainnav{
  background-color: red;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.mainnav ul li{
  list-style-type: none;
  display: inline-flex;
  flex-wrap: nowrap;
  overflow: hidden;
  margin-top: 40px;
  margin-right: 20px;
  padding:9px;
}

.mainnav ul li a{
  text-decoration: none;
  color: #fff;
}

.mainnav ul li a:hover{
  color: rgb(51, 70, 155);
  transition: 1s;
}
#menu{
  width: 5%;
  height: 5%;
  display: none;
}

.hero {
     max-width: 100%;
     block-size: auto;
}

.hero img{
  max-width: 100%;
}

.advertisments{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 50px;
}

.ad2{
  margin-bottom:50px;
}

.mainfooter{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 100%;
  background-color: rgb(51, 70, 155);

}

.footernav{
background-color: cyan;
}
.footernav ul{
  max-width: 100%;
}
.footernav ul li{
  display: inline-flex;
}
.footernav ul li a{
  text-decoration: none;
  margin-top: 50%;
  color: #fff;
}
#copyright{
  max-width: 30%;
  right: 20px;
}

@media only screen and (max-width:448px) {

  .sitecontainer{
      max-width: 1024px;
    }
.mainnav{
    background-color: blue;
    flex-direction: column;
    position: sticky;
    top: 0px;
  }
#menu{
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  margin-top: 20px;
  right: 20px;
}

.mainnav ul {
  color: white;
}
.mainnav ul li{
  background-color: green;
  list-style-type: none;
  display: block;
  margin-top: 40px;
  padding:10px;
  display: none;
  margin-right: 30px;
}

.advertisments{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 50px;
}
.advertisments img{
  max-width: 100%;
}

.footernav ul li{
  display: none;
}

#copyright{
  max-width: 100%;
  font-size: 10px;
  overflow: none;
}

}
